.itemCart{
    list-style: none;
    display: grid;
    grid-template-columns: 5fr repeat(3, 1.5fr);
    gap: 2rem;
    align-items: center;
}

.priceCart{
    color: blue;
    font-weight: bold;
    font-size: 1rem;
}