.itemDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    gap: 2rem;
}

.divImg {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

.divTitle {
    width: 90vw;
    padding: 1rem;
    border: 0.2px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.divTitle img {
    width: 60%;
}

.price {
    color: rgb(61, 194, 141);
    font-size: 2rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .itemDetail{
        flex-direction: row;
    }
}