.divAgregar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divCounter {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.divCounter p {
    font-weight: bold;
    margin: auto 0;
}

.btnCounter {
    border: none;
    border-radius: 25%;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    transition: 0.2s;
}

.btnAgregar{
    margin: 1rem;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.btnAgregar:hover, .btnCounter:hover{
    background-color: rgb(0, 24, 51);
    color: white;
}

.eliminar{
    background-color: red;
    color: white;
}