.bodyItem h2{
    margin-top: 1rem;
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.cardLink{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 576px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .cards{
        grid-template-columns: repeat(4, 1fr);
    }
}