.cardDiv{
    width: 22%;
    /* height: 450px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.imgCard{
    width: 70%;
    margin: 0.5rem 0;
}

.cardTitle, .cardPrice{
    text-align: center;
    text-decoration: none;
    color: black;
}

.cardLink {
    transition: 0.3s;
    margin: 1rem;
}

.cardLink:hover {
    scale: 1.05;
    color: inherit;
}